<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1> {{ title }} </h1>

{% for item in clients %}

<div>
    <p>{{ item.phone }}</p>
    <p>{{ item.oper_code }}</p>
    <p>{{ item.created_at|date:"Y-m-d H:i"}}</p>
</div>
<hr>

{% endfor %}
</body>
</html>