{% extends './base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
{% for item in  mailing_lists %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ item.mailing_list.get_absolute_url }}">{{ item.mailing_list }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            <!-- {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="" class="mr-3">
            {% endif %} -->
            <div class="media-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <!-- <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50 }}</p> -->
                <!-- <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a> -->
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|date:"Y-m-d H:i:s" }}
    </div>
</div>
{% endfor %}
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1> {{ title }} {{mailing_lists.client_teg}}</h1>
<a class="btn btn-primary" href="{% url 'create' %}" role="button">Добавить</a> -->
<!-- {% for item in mailing_lists %}

<div>
    <p>{{ item.date_time_start }}</p>
    <p>{{ item.name }}</p>
    <p>{{ item.client_filter }}</p>
    <p>{{ item.date_time_finish }}</p>
    <p>{{ item.created_at|date:"Y-m-d H:i"}}</p>
</div>
<hr>

{% endfor %}
</body>
</html> -->