<!doctype html>
<html lang="ru" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>{{ title }}</title>
  <body>


    <div class="container mt-3">
      <h1>{{ title }}</h1>
      <div class="row ">
        {% for item in letters %}
        <div class="card mb-2">
          <div class="card-header">
            Рассылка: {{ item.mailing_list.name }}
          </div>
            <div class="card-body">
              <p>{{ item.message }}</p>
              <p>{{ item.created_at|date:"Y-m-d H:i" }}</p>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>